@model IEnumerable<TasksApp.Models.TemplateBobCat>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="~/css/DataTable/datatables.min.css" rel="stylesheet" />


<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>

<h1>Manage Tasks</h1>
<div class="form-group" style="padding-right:12px;">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" style="float:right;">
        <i class="fa fa-plus"></i> Create New
    </button>

</div>


<br />

<div class="card text-center" style="width: 100%;">
    <div class="card-title">
        <ul class="nav nav-pills mb-3" style="padding:10px" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">BobCat</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table table-bordered table-hover" id="tbl" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            @*<th>Description</th>
                                <th>DateCreated</th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskNo)
                                    @Html.DisplayFor(modelItem => item.Heading)
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

@*Add Task Modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add BobCat Tasks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label style="float:left" class="control-label"> Task No </label>
                    <input id="TaskNo" class="form-control" />
                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Heading</label>
                    <select id="Heading" class="form-control ">
                        <option>GENERAL</option>

                        <option>
                            After testing brakes on the incline did they check out the
                            operator advances to the decline of the ramp.
                        </option>

                        <option>
                            After testing brakes on the decline did they check out operators advances
                            off the ramp.
                        </option>

                        <option>
                            If ever the brakes are found to be faulty.
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Description</label>
                    <input id="Description" class="form-control" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="AddTask()" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</div>


@*Edit Modal*@
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label style="float:left" class="control-label"> Task No </label>
                    <input id="TaskNoEdit" class="form-control" />
                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Heading</label>
                    <select id="HeadingEdit" class="form-control ">
                        <option>GENERAL</option>

                        <option>
                            After testing brakes on the incline did they check out the
                            operator advances to the decline of the ramp.
                        </option>

                        <option>
                            After testing brakes on the decline did they check out operators advances
                            off the ramp.
                        </option>

                        <option>
                            If ever the brakes are found to be faulty.
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="float:left" class="control-label">Description</label>
                    <input id="DescriptionEdit" class="form-control" />

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="EditTask()" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/DataTable/datatables.min.js"></script>
@*<script src="~/plugins/jquery/jquery.js"></script>*@
@*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>*@

<script>

    //$(document).ready(function () {
    //    var groupColumn = 2;
    //    var table = $('#tbl').DataTable({
    //        columnDefs: [{ visible: false, targets: groupColumn }],
    //        //order: [[groupColumn, 'asc']],
    //        //displayLength: 25,
    //        drawCallback: function (settings) {
    //            var api = this.api();
    //            var rows = api.rows({ page: 'current' }).nodes();
    //            var last = null;

    //            api
    //                .column(groupColumn, { page: 'current' })
    //                .data()
    //                .each(function (group, i) {
    //                    if (last !== group) {
    //                        $(rows)
    //                            .eq(i)
    //                            .before('<tr class="group"><td colspan="5">' + group + '</td></tr>');

    //                        last = group;
    //                    }
    //                });
    //        },
    //    });

    //    // Order by the grouping
    //    $('#example tbody').on('click', 'tr.group', function () {
    //        var currentOrder = table.order()[0];
    //        if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
    //            table.order([groupColumn, 'desc']).draw();
    //        } else {
    //            table.order([groupColumn, 'asc']).draw();
    //        }
    //    });
    //});

    loadTable()

    function loadTable() {
        var groupColumn = 2;
        Table01 = $("#tbl").DataTable({
            "ajax": {
                "url": "/templatebobcats/getbobcats",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "taskNo", "width": "5%" },
                { "data": "description", "width": "85%" },
                { "data": "heading", "width": "100%" },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Edit BobCat Task">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/TemplateBobCats/DeleteBobCat/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete BobCat Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>

                                        </div>
                                       `;
                    }, "width": "10%"
                },
            ],

            columnDefs: [{ visible: false, targets: groupColumn }],
            order: [[groupColumn, 'asc']],
            //displayLength: 25,
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api
                    .column(groupColumn, { page: 'current' })
                    .data()
                    .each(function (group, i) {
                        if (last !== group) {
                            $(rows)
                                .eq(i)
                                .before('<tr class="group"><td colspan="3">' + group + '</td></tr>');

                            last = group;
                        }
                    });
            },
        });

        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                table.order([groupColumn, 'desc']).draw();
            } else {
                table.order([groupColumn, 'asc']).draw();
            }
        });
    }

    function AddTask() {
        var T_No = $('#TaskNo').val();
        var Head = $('#Heading').val();
        var Desc = $('#Description').val();


        $.ajax({
            type: "POST",
            url: "/TemplateBobCats/AddBobCat?T_No=" + T_No + "&Desc=" + Desc + "&Head=" + Head,
            success: function (data) {
                if (data.success) {

                    $("#exampleModal").modal("toggle")
                    swal(data.message, "", "success");
                    Table01.ajax.reload();

                }
                else {
                    toastr.error(data.message);
                }
            }
        });

    }

    function Delete(url) {
        swal({
            title: "Are you sure you want to Delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            Table01.ajax.reload();

                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }

    var editId = 0;

    function ShowEditModal(id) {
        $("#editModal").modal("toggle");

        $.ajax({
            type: "GET",
            url: "/TemplateBobCats/GetBobCat?id=" + id,
            success: function (data) {
                document.getElementById("TaskNoEdit").value = data.data.taskNo;
                document.getElementById("DescriptionEdit").value = data.data.description;
                document.getElementById("HeadingEdit").value = data.data.heading;
                //document.getElementById("IdEdit").value = data.data.id;
                editId = id;
            }
        });
    }

    function EditTask() {

        var TaskNo = $('#TaskNoEdit').val();
        var Head = $('#HeadingEdit').val();
        var Desc = $('#DescriptionEdit').val();

        $.ajax({
            type: "PUT",
            url: "/TemplateBobCats/EditBobCat?Id=" + editId + "&TaskNo=" + TaskNo + "&Desc=" + Desc + "&Head=" + Head,
            success: function (data) {
                if (data.success) {

                    $("#editModal").modal("toggle")
                    swal(data.message, "", "success");
                    Table01.ajax.reload();
                }
                else {
                    toastr.error(data.message);
                }
            }
        });
    }
</script>