<footer class="c-footer">

    <div class="small-device-footer small-device">
        <p class="footer-tag-styling"> CheckList </p> <a href="https://fpt.co.za/" target="_blank"> MATOLA CARGO TERMINAL (PYT) LTD </a>
        <span class="footer-tag-styling">&copy; @DateTime.Now.Year</span>
    </div>
    <img class="d-none d-md-block" src="~/images/Logo.png" height="50" alt="FPT Group Logo">
</footer>


