<footer class="c-footer">
    <div class="small-device-footer small-device">
        <p class="footer-tag-styling">CheckList </p><a href="https://fpt.co.za/" target="_blank">FPT Group (Pty) Ltd</a>
        <span class="footer-tag-styling">&copy; @DateTime.Now.Year</span>
    </div>
    @*<div class="large-device-footer large-device">
            <p class="footer-tag-styling">Electronic Research Administration Management Platform </p><a href="https://www.dutappfactory.tech" target="_blank">DUT App Factory</a>
            <span class="footer-tag-styling">&copy; @DateTime.Now.Year</span>
        </div>*@
    <img class="d-none d-md-block" src="~/images/download.png" height="50" alt="FPT Group Logo">
</footer>


