<footer class="c-footer">

    <div style="width:500px; margin:0 auto;">
        <a href="http://www.mct.co.mz/" target="_blank"> MATOLA CARGO TERMINAL (Pty) Ltd </a>
        <span class="footer-tag-styling"> | Copyright &copy; @DateTime.Now.Year | All Rights Reserved.</span>
        
    </div>
    <img class="d-none d-md-block" src="~/images/Logo_Final.png" height="20" alt="MCT Logo">
</footer>


