@using Microsoft.AspNetCore.Identity
@section scripts
    {
    <script src="~/Assets/tooltips/tips.js"></script>
}
@if (User.Identity.IsAuthenticated)
{
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <!-- Sidebar content here -->
        @if (@User.FindFirst("Organization")?.Value == "MCT")
        {
            <div class="c-sidebar-brand d-md-down-none csidebar-brandbackground-color">
                <a href="/Home/Index">
                    <img class="c-sidebar-brand-full" src="~/images/Logo.png" height="46" alt="MCT">
                    <img class="c-sidebar-brand-minimized" src="~/images/Logo.png" width="50" height="46" alt="MCT">
                </a>
            </div>
        }

        @if (@User.FindFirst("Organization")?.Value == "TLG")
        {
            <div class="c-sidebar-brand d-md-down-none csidebar-brandbackground-color">
                <a href="/Home/Index">
                    <img class="c-sidebar-brand-full" src="~/images/TLG.png" height="46" alt="TLG Group">
                    <img class="c-sidebar-brand-minimized" src="~/images/TLG.png" width="50" height="40" alt="TLG Group">
                </a>
            </div>
        }

        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Home" asp-action="Index">

                    <span class="c-sidebar-nav-icon fa fa-home fa-lg"></span> &nbsp;Home
                    <span class="badge badge-info">

                        @if (User.IsInRole(SD.Role_Operator.ToString()))
                        {

                            <text>Operator</text>

                            @*<span class="fa fa-bell fa-lg"> <span class="count"> &nbsp; </span></span>*@
                            @*<div class="noti-content">
                    <div class="noti-top-arrow"></div>
                    <ul id="notiContent"></ul>
                    </div>*@


                        }

                        else if (User.IsInRole(SD.Role_Supervisor.ToString()))
                        {
                            <text>Supervisor</text>
                        }

                        else if (User.IsInRole(SD.Role_Admin.ToString()))
                        {
                            <text>Admin</text>
                        }
                    </span>

                </a>
            </li>
            @if (User.IsInRole(SD.Role_Operator.ToString()))
            {
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown" id="research" style="display: none">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here for more options"></span>
                        &nbsp;
                        Tasks
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item" id="definedTopic" style="display: none">
                            <a class="c-sidebar-nav-link" asp-controller="PreTasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-tasks"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to complete tasks"></span>
                                &nbsp;
                                Check-List
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole(SD.Role_Admin.ToString()))
            {
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here for more checklist options"></span>
                        &nbsp;
                        CheckList
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="TemplateTasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to Manage Tasks"></span>
                                &nbsp;
                                Tasks Management
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="Tasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Supervisor Tasks"></span>
                                &nbsp;
                                Supervisor Tasks
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="PreTasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view active Operator Pre-Tasks"></span>
                                &nbsp;
                                Operator Tasks
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view and Manage IT Maintenance Categorised CheckList"></span>
                                &nbsp;
                                Maintenance Checklist
                            </a>

                            <ul class="c-sidebar-nav-dropdown-items">
                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Main_Task" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        Manage Task-List
                                    </a>
                                </li>

                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Active_D" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        Active Directory Task-List
                                    </a>
                                </li>

                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Hardwares" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        Hardware
                                    </a>
                                </li>

                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Networkings" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        OS/Software
                                    </a>
                                </li>

                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Securities" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        Networking
                                    </a>
                                </li>

                                <li class="c-sidebar-nav-item">
                                    <a class="c-sidebar-nav-link" asp-controller="Softwares" asp-action="Index">
                                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Click here to Manage Tasks"></span>
                                        &nbsp;
                                        Security
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" asp-controller="User" asp-action="Index">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here to View Users"></span>
                        &nbsp;
                        Users
                    </a>
                </li>

                @*<li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-link" asp-controller="Audits" asp-action="Index">
        <span class="c-sidebar-nav-icon fa fa-info-circle"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Click here to track user activity"></span>
        &nbsp;
        User Activity Log
        </a>
        </li>*@

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="Index">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here for more"></span>
                        &nbsp;
                        Dashboard
                    </a>
                </li>
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="SupervisorCalendar">
                        <span class="c-sidebar-nav-icon fa fa-calendar-alt"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Supervisor Operations at a glance"></span>
                        &nbsp;
                        Supervisor Calendar Overview
                    </a>
                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="OperatorCalendar">
                        <span class="c-sidebar-nav-icon fa fa-calendar-alt"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Operator Operations at a glance"></span>
                        &nbsp;
                        Operator Calendar Overview
                    </a>
                </li>
            }
            @if (User.IsInRole(SD.Role_Supervisor.ToString()))
            {
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here for more checklist options"></span>
                        &nbsp;
                        CheckList
                    </a>

                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="Tasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Supervisor Tasks"></span>
                                &nbsp;
                                Supervisor Tasks
                            </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="PreTasks" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Operator Tasks"></span>
                                &nbsp;
                                Operational Tasks
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="SupervisorCalendar">
                        <span class="c-sidebar-nav-icon fa fa-calendar-alt"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Supervisor Operations at a glance"></span>
                        &nbsp;
                        Supervisor Calendar Overview
                    </a>
                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="OperatorCalendar">
                        <span class="c-sidebar-nav-icon fa fa-calendar-alt"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Operator Operations at a glance"></span>
                        &nbsp;
                        Operator Calendar Overview
                    </a>
                </li>
            }

            @if (User.IsInRole(SD.Role_Operator.ToString()))
            {
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-info-circle"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click here for more checklist options"></span>
                        &nbsp;
                        CheckList
                    </a>

                    <ul class="c-sidebar-nav-dropdown-items">
                        @*<li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" asp-controller="PreTasks" asp-action="Index">
                <span class="c-sidebar-nav-icon fa fa-info-circle"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Click here to view Operator Tasks"></span>
                &nbsp;
                Operational Tasks
                </a>
                </li>*@


                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="BobCats" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Supervisor Tasks"></span>
                                &nbsp;
                                Brake test - FEL
                            </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="Items" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Operator Tasks"></span>
                                &nbsp;
                                Pre start check list FEL
                            </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" asp-controller="DailyWeighs" asp-action="Index">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Click here to view Supervisor Tasks"></span>
                                &nbsp;
                                Daily weighbridge test
                            </a>
                        </li>

                        @*<li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Tasks" asp-action="Index">
                <span class="c-sidebar-nav-icon fa fa-info-circle"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Click here to view Supervisor Tasks"></span>
                &nbsp;
                Calibration register
                </a>
                </li>*@

                    </ul>

                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link" asp-controller="Dashboard" asp-action="OperatorCalendar">
                        <span class="c-sidebar-nav-icon fa fa-calendar-alt"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Operator Operations at a glance"></span>
                        &nbsp;
                        Operator Calendar Overview
                    </a>
                </li>
            }
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
    </div>
}
