@model IEnumerable<TasksApp.Models.Active_D>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />

<h1>Tasks</h1>

<br />

<div class="form-group">
    <label class="control-label">Choose date</label>
    <input class="form-control" id="datePicker" type="date" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />

</div>

<br />

<div class="card text-center" style="width: 100%;">
    <div class="card-title">
        <ul class="nav nav-pills mb-3" style="padding:10px" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Daily</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Weekly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Monthly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-quart-tab" data-toggle="pill" href="#pills-quart" role="tab" aria-controls="pills-quart" aria-selected="true">Quarterly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-bi-tab" data-toggle="pill" href="#pills-bi" role="tab" aria-controls="pills-bi" aria-selected="false">Bi-Annually</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-annually-tab" data-toggle="pill" href="#pills-annually" role="tab" aria-controls="pills-annually" aria-selected="false">Annually</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="80"></div>
                </div>
                <br />
                <table id="Table01" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />
                <table id="Table02" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>

            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />

                <table id="Table03" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-quart" role="tabpanel" aria-labelledby="pills-quart-tab">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />

                <table id="Table04" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-bi" role="tabpanel" aria-labelledby="pills-bi-tab">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />

                <table id="Table05" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-annually" role="tabpanel" aria-labelledby="pills-annually-tab">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" style="width: 1%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />

                <table id="Table06" class="table table-striped table-bordered table-hover" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>IsDone</th>
                            <th>Date Task Completed</th>
                            <th>Add Comments</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Comment Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comments:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveComment()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="~/plugins/jquery/jquery.js"></script>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>

<script>
    var Tdate = document.getElementById("datePicker").value;
    var selectedDate = localStorage.getItem('opDate');
    var getDate;

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    var formattedDate = formatDate(selectedDate);

    if (selectedDate != null) {
        getDate = selectedDate;
        $("#datePicker").val(formattedDate).trigger("change");
        /*document.getElementById("variableDate").innerHTML = formattedDate;*/
    }
    if (selectedDate == null) {
        getDate = Tdate;
    }

    $(document).ready(function () {
        var date = document.getElementById("datePicker").value;
        loadTable(date);

        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/Active_D/GetAll?date=" + date,
            async: false,
            success: function (response) {
                var count = 0;

                for (var i = 0; i < response.data.length; i++) {

                    if (response.data[i].isDone == true) {
                        count += 1;
                    }

                }

                var p = (count / response.data.length) * 100;
                if (p == 0) {
                    document.getElementById("progressbar").style.width = "0%";
                    document.getElementById("progressbar").innerHTML = "0%";
                }
                else {
                    document.getElementById("progressbar").style.width = p + "%";
                    document.getElementById("progressbar").innerHTML = Math.round(p) + "%";
                }
            }
        });


    });


    $('#datePicker').change(function () {
        var date = document.getElementById("datePicker").value;
        Table01.destroy();
        Table02.destroy();
        Table03.destroy();
        Table04.destroy();
        Table05.destroy();
        Table06.destroy();
        loadTable(date);

        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/Active_D/GetAll?date=" + date,
            async: false,
            success: function (response) {

                var count = 0;

                for (var i = 0; i < response.data.length; i++) {

                    if (response.data[i].isDone == true) {
                        count += 1;
                    }

                }

                var p = (count / response.data.length) * 100;

                if (Number.isNaN(p)) {
                    console.log(p)
                    document.getElementById("progressbar").style.width = "0%";
                    document.getElementById("progressbar").innerHTML = "0%";
                }
                else if (p == 0) {
                    document.getElementById("progressbar").style.width = "0%";
                    document.getElementById("progressbar").innerHTML = "0%";
                }

                else {
                    document.getElementById("progressbar").style.width = p + "%";
                    document.getElementById("progressbar").innerHTML = Math.round(p) + "%";
                }

            }
        });

    });

    function loadTable(date) {

        Table01 = $("#Table01").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksToday?date=" + date
            },
            "columns": [
                { "data": "description", "width": "60%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "30%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "50%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "40%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });
        localStorage.removeItem('opDate');

        Table02 = $("#Table02").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksWeekly?date=" + date
            },
            "columns": [
                { "data": "description", "width": "100%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "22%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "100%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "20%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });

        Table03 = $("#Table03").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksMonthly?date=" + date
            },
            "columns": [
                { "data": "description", "width": "100%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "22%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "100%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "20%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });

        Table04 = $("#Table04").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksQuarterly?date=" + date
            },
            "columns": [
                { "data": "description", "width": "100%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "22%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "100%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "20%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });

        Table05 = $("#Table05").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksBi?date=" + date
            },
            "columns": [
                { "data": "description", "width": "100%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "22%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "100%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "20%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });

        Table06 = $("#Table06").DataTable({
            "ajax": {
                "url": "/Active_D/GetTasksAnnually?date=" + date
            },
            "columns": [
                { "data": "description", "width": "100%" },
                {
                    "data": {
                        id: "id", isDone: "isDone"
                    },
                    "render": function (data) {
                        if (data.isDone == true) {

                            return `
                                <div class="text-center">
                                   <input disabled type="checkbox" checked="true" />

                                </div>
                               `;

                        }

                        if (data.isDone == false) {

                            return `
                                <div class="text-center">
                                   <input onclick=Delete("Active_D/CompleteTask/${data.id}") type="checkbox" />

                                </div>
                               `;

                        }

                    }, "width": "22%"
                },
                {
                    "data": "dateTaskCompleted",
                    'render': function (jsonDate) {

                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }

                    }, "width": "100%"
                },

                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {


                        return `
                                <div class="text-center">
                                   <button type="button" class="btn btn-info" onclick="showModal(this)"  data-id="${data.id}" >
                                        <i class="fas fa-comment"></i>
                                    </button>

                                </div>
                               `;
                    }, "width": "20%"
                },
                { "data": "comments", "width": "100%" }

            ]
        });
        
    }

    function Delete(url) {

        var uri = url;
        var res = encodeURI(uri);

        swal({
            title: "Are you sure you want to complete this task?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "GET",
                    url: res,
                    success: function (data) {
                        if (data.success) {
                            var date = document.getElementById("datePicker").value;
                            $.ajax({
                                type: "GET",
                                dataType: 'json',
                                url: "/Tasks/GetAll?date=" + date,
                                async: false,
                                success: function (response) {
                                    console.log(response)
                                    var count = 0;

                                    for (var i = 0; i < response.data.length; i++) {

                                        if (response.data[i].isDone == true) {
                                            count += 1;
                                        }

                                    }

                                    var p = (count / response.data.length) * 100;
                                    document.getElementById("progressbar").style.width = p + "%";
                                    document.getElementById("progressbar").innerHTML = Math.round(p) + "%";
                                }
                            });
                            toastr.success(data.message);
                            Table01.ajax.reload();

                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }

    var CommentId = 1;

    function showModal(event) {

        $('#exampleModal').modal("toggle");

        CommentId = event.dataset.id

        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/Active_D/GetTask?id=" + CommentId,
            async: false,
            success: function (response) {
                document.getElementById("message-text").value = response.comments;
                console.log(response.comments)
            }
        });

    }

    function SaveComment() {

        console.log("save")

        var comment = document.getElementById("message-text").value;

        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/Active_D/AddComment?id=" + CommentId + "&comment=" + comment,
            async: false,
            success: function (response) {
                toastr.success(response.message);
                Table01.ajax.reload();
            }
        });


        $('#exampleModal').modal("toggle");
    }

</script>