@{
    ViewBag.Title = "Calendar";
}


<section class="content-header">
    <h1>
        Calendar Overview
    </h1>
</section>
<br />
<div id='calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'dayGridMonth,dayGridWeek,dayGridDay',
                center: 'title',
                right: 'prev,next'
            },
            events: [
                {
                    title: 'Supervisor - Attention: Checklist',
                    start: @Html.Raw(ViewData["Date"]),
                    color: 'red',
                },

                @*{
                    title: 'Operator - Attention: Checklist',
                    start: @Html.Raw(ViewData["Date"]),
                    color: 'red',
                },*@


                @*{
                    title: 'Partially Complete',
                    start: @Html.Raw(ViewData["Date"]),
                    color: 'orange'
                },
                {
                    title: 'Completed',
                    start: @Html.Raw(ViewData["Date"]),
                    color: 'green',
                },*@
            ],

        });
        calendar.render();
    });
</script>