@{
    ViewBag.Title = "Calendar";
}


<section class="content-header">
    <h1>
        Calendar Overview
    </h1>
</section>
<br />
<div id='calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            headerToolbar: {
                left: 'dayGridMonth,dayGridWeek,dayGridDay',
                center: 'title',
                right: 'prev,next'
            },

            events: [
                {
                    title: 'Attention: Checklist',
                    start: @Html.Raw(ViewData["Dates"]),
                    color: 'red',
                },
            ],


        });
        calendar.render();
    });

    console.log(@Html.Raw(ViewData["Dates"]));
</script>