@*@model IEnumerable<TasksApp.Models.Tasks>*@
@{
    ViewBag.Title = "Calendar";

    var events = (IEnumerable<TasksApp.Models.Tasks>)ViewData["SupervisorEvents"];
    var length = events.Count();
}


<section class="content-header">
    <h1>
        Calendar Overview
    </h1>
</section>
<br />
<table id="table" hidden>
    @for (int i = 0; i < length; i++)
    {
        <tr>
            <td>@Html.Encode(events.ElementAt(i).Status)</td>
            <td>@Html.Encode(events.ElementAt(i).DateCreated.ToString("yyyy-MM-dd"))</td>
        </tr>  
    }
</table>

<div class="calendarContainer">
    <div id="calendar"></div>
</div>

<script>

    let eventsArr = loadData();
    let calendar = initCalendar();
    function loadData() {
        var url = '';
        var bgColor = '';
        var date = document.getElementById("calendar");
        let eventsArr = [];
        let data = document.getElementById("table");
        let trElem = data.getElementsByTagName("tr");
        for (let tr of trElem) {
            let tdElems = tr.getElementsByTagName("td");

            if (tdElems[0].innerText == "Do-Checklist") {
                bgColor = 'red';
                url = '/Tasks/Index';
      
            }
            else
                if (tdElems[0].innerText == "Partially Completed") {
                    bgColor = 'orange';
                }
                else
                    if (tdElems[0].innerText == "Complete") {
                        bgColor = 'green';
                    }
            let eventObj = {
                title: tdElems[0].innerText,
                start: tdElems[1].innerText,
                color: bgColor,
                url: url,
                date: date,
              
            }            
            eventsArr.push(eventObj);
        }

        return eventsArr;
    }

    function initCalendar() {
        var calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'dayGridMonth,dayGridWeek,dayGridDay',
                center: 'title',
                right: 'prev,next'
            },
            
            events: eventsArr,
            

        });
        calendar.render();
        return calendar;
    }
</script>