.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;
    overflow: hidden;
}

.control, fieldset {
    margin: 6px 0;
}



.required {
    color: red;
    margin-left: -10px;
}
