@model TasksApp.Models.TemplateTask
@using Microsoft.AspNetCore.Identity
@using TasksApp.Areas.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TemplateTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <input asp-for="DateCreated" class="form-control" hidden value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskType" class="control-label"></label>
                <select asp-for="TaskType" class="form-control">
                    <option>Task</option>
                    <option>PreTask</option>
                </select>
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <select asp-for="Schedule" class="form-control">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                </select>
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>


            <input asp-for="UserEmail" class="form-control" hidden value="@User.Identity.Name" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
