<div class="jumbotron">
    <h1>Daily CheckList</h1>
    <p class="lead">Make your day's arrangement easy , sign up now and manage your tasks</p>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Easily Add Tasks</h2>
        <img src="~/Pictures/to-do-list.jpg" alt="Task" width="250" height="300" />
    </div>
    <div class="col-md-4">
        <h2>Check Completed</h2>
        <img src="~/Pictures/Check.png" alt="Check" width="250" height="250" />
    </div>
    <div class="col-md-4">
        <h2>Privacy Your Data</h2>
        <img src="~/Pictures/Locker.png" alt="Lock" width="250" height="270" />
    </div>
</div>