<style>

    img {
        vertical-align: middle;
    }

    .card {
        margin: 0 auto;
        float: none; 
        margin-bottom: 10px;
        opacity:0.90;
    }

    body , #body1{
        font-family: 'PT Sans', sans-serif !important;
        background-image: url('/images/Landing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }
        body , #body2{
        font-family: 'PT Sans', sans-serif !important;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }
</style>
@if (!User.Identity.IsAuthenticated)
{
    <body id="body1">

@*        @if (@User.FindFirst("Organization")?.Value == null)
        {
            <center><img src="~/images/Landing.jpg" alt="Task" width="100%" height="900" /></center>
        }*@
        <div class="card" style="width:500px;">
            <div class="card-body">
                <center><h2>Checklist System</h2></center>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                                <a button asp-area="Identity" asp-page="/Account/Login" class="nav-link btn btn-success fa fa-user"> Login</a>



                        </div>
                        <div class="col-md-6">

                                <a button asp-area="Identity" asp-page="/Account/Register" class="nav-link btn btn-warning fa fa-user-plus"> Register </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
}
else{
    <body id="body2">
    <div class="gfg">

       

       

        @if (@User.FindFirst("Organization")?.Value == "MCT")
        {
            <center><img src="~/images/novo1.png" alt="Task" width="100%" height="900" /></center>
        }

        @if (@User.FindFirst("Organization")?.Value == "TLG")
        {
            <center><img src="~/images/TLG_Home.jpg" alt="Task" width="100%" height="800" /></center>
        }


    </div>
    </body>
}


<script>
    const btn = document.getElementById('logBTN');
    btn.style.visibility = 'hidden';

    const btnR = document.getElementById('regBTN');
    btnR.style.visibility = 'hidden';
</script>


