<style>

    img {
        vertical-align: middle;
    }

    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        opacity: 0.90;
    }

    body, #body1 {
        font-family: 'PT Sans', sans-serif !important;
        background-image: url('/images/Landing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    body, #body2 {
        font-family: 'PT Sans', sans-serif !important;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .jumbotron {
        opacity: 0.90;
        background-color: white;
    }
</style>
@if (!User.Identity.IsAuthenticated)
{
    <body id="body1">

        @*        @if (@User.FindFirst("Organization")?.Value == null)
            {
                <center><img src="~/images/Landing.jpg" alt="Task" width="100%" height="900" /></center>
            }*@

        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-6 mx-auto">
                    <div class="jumbotron">
                        <center><h2 style="padding-bottom:20px;">@DateTime.Now.ToString(" dddd dd MMMM yyyy - HH:mm tt")</h2></center>
                        <center><h2 style="padding-bottom:20px;">Hello , what would you like to do ? </h2></center>

                        <p class="text-center"><a button asp-area="Identity" asp-page="/Account/Login" class="nav-link btn btn-success btn-lg fa fa-user"> Login</a>&ensp; <a button asp-area="Identity" asp-page="/Account/Register" class="nav-link btn btn-warning btn-lg fa fa-user-plus"> Register </a></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
}
else
{
    <body id="body2">
        <div class="gfg">





            @if (@User.FindFirst("Organization")?.Value == "MCT")
            {
                <center><img src="~/images/novo1.png" alt="Task" width="100%" height="900" /></center>
            }

            @if (@User.FindFirst("Organization")?.Value == "TLG")
            {
                <center><img src="~/images/TLG_Home.jpg" alt="Task" width="100%" height="800" /></center>
            }


        </div>
    </body>
}


<script>
    const btn = document.getElementById('logBTN');
    btn.style.visibility = 'hidden';

    const btnR = document.getElementById('regBTN');
    btnR.style.visibility = 'hidden';
</script>




