@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="icon" href="~/images/Logo_Final.png" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="~/classic-login/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'PT Sans', sans-serif !important;
            background-image: url('/images/Log.png');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }

        .content {
            background-image: url('/wwwroot/images/Login.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
        }
        /*a, a:focus, a:hover{
                                    text-decoration: none !important;
                                    color:#fff !important;
                                }*/
        .placeholder-fix:focus::-webkit-input-placeholder {
            color: transparent !important;
        }

        .placeholder-fix:focus::-moz-placeholder {
            color: transparent !important;
        }

        .placeholder-fix:-moz-placeholder {
            color: transparent !important;
        }

        .loginpage {
            margin: 0 auto;
        }

            .loginpage .form-control {
                width: 100%;
            }

        .logo h2 {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 2px;
            margin: 0;
            text-transform: uppercase;
            padding-bottom: 60px;
        }

        .loginpage input:first-child {
            background: url('/wwwroot/images/user.png');
            background-repeat: no-repeat;
            background-position: right center;
            background-origin: content-box;
            background-color: rgba(255, 255, 255, 0.5);
            border: medium none;
            height: 60px;
            margin: 0 0 5px;
            width: 100%;
            color: rgb(57,80,86);
            font-weight: 600;
            border-radius: 5px 5px 0 0;
        }

        .loginpage input:last-child {
            background: url(../images/lock.png);
            background-repeat: no-repeat;
            background-position: right center;
            background-origin: content-box;
            background-color: rgba(255, 255, 255, 0.5);
            border: medium none;
            height: 60px;
            margin: 0 0 5px;
            width: 100%;
            color: rgb(57,80,86);
            font-weight: 600;
            border-radius: 0 0 5px 5px;
        }

        .form-control::-moz-placeholder {
            color: rgb(57,80,86) !important;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .form-control::-webkit-input-placeholder {
            color: rgb(57,80,86) !important;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .form-control:focus {
            border-color: transparent;
            box-shadow: none !important;
            outline: 0 none;
        }

        .action-button .btn-block {
            background-color: rgba(57,80,86,0.9);
            border: medium none;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            height: 60px;
            margin-top: 15px;
            border-radius: 5px;
            width: 100%;
        }

        .page-links {
            padding: 0;
            text-align: center;
            padding: 30px 0;
        }

            .page-links li {
                display: inline-block;
            }

            .page-links a {
                color: #fff;
                font-size: 13px;
                font-weight: 600;
                margin-right: 50px;
            }

        .social-button {
            text-align: center;
        }

            .social-button > a {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                margin-right: 20px;
                padding: 12px 39px;
                border-radius: 4px;
            }

            .social-button a:first-child {
                background-color: rgba(56,83,141,0.8);
            }

            .social-button a:last-child {
                background-color: rgba(214,34,33,0.8);
                margin-right: 0px;
            }

            .social-button img {
                vertical-align: middle;
                margin-right: 10px;
            }

        .copyright {
            color: #fff;
            font-size: 16px;
            margin-top: 50px;
        }

            .copyright a, .copyright a:hover {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }

        .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            border-radius: 20px;
            opacity: 0.90;
            background-color: lightblue;
        }

        .black {
            color: black;
        }

        .container {
            width: 35%;
            float: right;
            padding-bottom: 12px;
        }

        a {
            font-weight: bold;
        }

                .button {
          background-color: grey; 
          border: none;
          color: white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          cursor: pointer;
          font-size:100px;
          border-top-right-radius:5px;
          border-bottom-right-radius:5px;
          padding-top: 8px;
        }
    </style>
</head>

<body class="content">
    <div class="card" style="width:500px">
        <div class="card-body">

            <header>

                <div class="logo text-center">
                    <h2>Checklist System</h2>
                    <img class="c-sidebar-brand-full" src="~/images/user-interface.png" height="100" alt="User">
                </div>
            </header>
            <br />
            @* <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 width-1">*@
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-warning"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <label asp-for="Input.Email" class="black"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="Username" />
                                
                            </div>
                            <span asp-validation-for="Input.Email" class="text-warning"></span>
                        </div>
                    </div>
                </div>



                <label asp-for="Input.Password" class="black"></label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group mb-3">
                                <input asp-for="Input.Password" id=password class="form-control" aria-label="password" placeholder="Password" type="password" aria-describedby="basic-addon2" />
                                <div class="input-group-btn">
                                    <button class="button button" type="button" onclick="passwordVisible()"><i id="passwordToggle" class="fas fa-eye-slash" style="font-size:20px;padding-bottom:5px;"></i></button>
        
                                </div>
                                
                            </div>
                            <span asp-validation-for="Input.Password" class="text-warning"></span>
                        </div>
                    </div>
                </div>


                                        <div>
                @Html.CheckBoxFor(x=>x.Input.RememberMe)
                @Html.DisplayNameFor(m => m.Input.RememberMe)
                </div>
                <br />
                <div class="action-button">
                    <button type="submit" class="btn btn-success">Login</button>
                    <div class="container">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="nav-link"> Need an account ?</a>
                    </div>
                </div>



                @*<ul class="page-links">
                <li>

                </li>

                </ul>*@

            </form>
        </div>


        @*<div class="row">
        <ul class="page-links">*@
        @*<li>
        <a asp-page="./ForgotPassword">Forgot your password?</a>
        </li>*@
        @*<li>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
        </li>*@
        @*<li>
        <a  asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </li>*@
        @*</ul>
        </div>*@

    </div>
    @*    </div>*@


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

        <script>
            const btn = document.getElementById('logBTN');
            btn.style.visibility = 'hidden';

            const btnR = document.getElementById('regBTN');
            btnR.style.visibility = 'hidden';
        </script>
        <script>
            function passwordVisible() {
                var x = document.getElementById("password");
                var passwordToggle = document.getElementById("passwordToggle");
                if (x.type === "password") {
                    x.type = "text";
                    passwordToggle.className = "fas fa-eye";
                } else {
                    x.type = "password";
                    passwordToggle.className = "fas fa-eye-slash";
                }
            }
        </script>
    </body>
    </html>
