@page
@model RegisterModel

@using TasksApp.Models
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            /*background: #ffffff;*/
        }

        input,
        button {
            border: none;
            outline: none;
            /*background: none;*/
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        }

        .tip {
            font-size: 20px;
            margin: 40px auto 50px;
            text-align: center;
        }

        .cont {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            width: 900px;
            height: 550px;
            margin: 0 auto 100px;
            /*background: #fff;*/
            box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
        }

        .form {
            position: relative;
            width: 640px;
            height: 100%;
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
            padding: 50px 30px 0;
        }

        .sub-cont {
            overflow: hidden;
            position: absolute;
            left: 640px;
            top: 0;
            width: 900px;
            height: 100%;
            padding-left: 260px;
            /*background: #fff;*/
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        }

        .cont.s--signup .sub-cont {
            -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
        }

        button {
            display: block;
            margin: 0 auto;
            width: 260px;
            height: 36px;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        .img {
            overflow: hidden;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 260px;
            height: 100%;
            padding-top: 360px;
        }

        /*      .img:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 900px;
                height: 100%;
                background-image: url('/images/CheckList.jpg');
                opacity: .8;
                background-size: cover;
                -webkit-transition: -webkit-transform 1.2s ease-in-out;
                transition: transform 1.2s ease-in-out;
                transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
            }*/

        /*        .img:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
            }*/

        .cont.s--signup .img:before {
            -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
        }

        .img__text {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            padding: 0 20px;
            text-align: center;
            color: #fff;
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        }

            .img__text h2 {
                margin-bottom: 10px;
                font-weight: normal;
            }

            .img__text p {
                font-size: 14px;
                line-height: 1.5;
            }

        .cont.s--signup .img__text.m--up {
            -webkit-transform: translateX(520px);
            transform: translateX(520px);
        }

        .img__text.m--in {
            -webkit-transform: translateX(-520px);
            transform: translateX(-520px);
        }

        .cont.s--signup .img__text.m--in {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        /*     .img__btn {
            overflow: hidden;
            z-index: 2;
            position: relative;
            width: 100px;
            height: 36px;
            margin: 0 auto;
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            cursor: pointer;
        }*/

        .img__btn:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }

        .img__btn span {
            position: absolute;
            left: 0;
            top: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 1.2s;
            transition: -webkit-transform 1.2s;
            transition: transform 1.2s;
            transition: transform 1.2s, -webkit-transform 1.2s;
        }

            .img__btn span.m--in {
                -webkit-transform: translateY(-72px);
                transform: translateY(-72px);
            }

        .cont.s--signup .img__btn span.m--in {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .cont.s--signup .img__btn span.m--up {
            -webkit-transform: translateY(72px);
            transform: translateY(72px);
        }

        h2 {
            width: 100%;
            font-size: 26px;
            text-align: center;
        }

        label {
            display: block;
            width: 260px;
            margin: 25px auto 0;
            text-align: center;
        }

            label span {
                font-size: 12px;
                color: #cfcfcf;
                text-transform: uppercase;
            }

        input {
            display: block;
            width: 100%;
            margin-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            text-align: center;
        }

        .forgot-pass {
            margin-top: 15px;
            text-align: center;
            font-size: 12px;
            color: #cfcfcf;
        }

        .submit {
            margin-top: 40px;
            margin-bottom: 20px;
            background-color: grey;
            text-transform: uppercase;
        }

        .fb-btn {
            border: 2px solid #d3dae9;
            color: #8fa1c7;
        }

            .fb-btn span {
                font-weight: bold;
                color: #455a81;
            }

        .sign-in {
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .cont.s--signup .sign-in {
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
            -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
        }

        .sign-up {
            -webkit-transform: translate3d(-900px, 0, 0);
            transform: translate3d(-900px, 0, 0);
        }

        .cont.s--signup .sign-up {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        body {
            font-family: 'PT Sans', sans-serif !important;
            background-image: url('/images/Login.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
        .card {
            opacity: 0.90;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row align-items-center vh-20">
            <div class="col-6 mx-auto">
                <div class="card shadow border">
                    <div class="card-body d-flex flex-column align-items-center">

                        <h2>Register</h2>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label>
                                <input asp-for="Input.FirstName" placeholder="First Name" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </label>

                            <label>
                                <input asp-for="Input.LastName" placeholder="Last Name" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </label>

                            <label>
                                <input asp-for="Input.Email" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </label>

                                <label>
                                    @*<input asp-for="Input.Role" placeholder="Role" />
                                <span asp-validation-for="Input.Role" class="text-danger"></span>*@
                                    @Html.DropDownListFor(m => m.Input.Categories, Model.Input.EntityList, "-Select an organization-", new { @class = "form-control" })
                                </label>
                            

                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <label>
                                    @*<input asp-for="Input.Role" placeholder="Role" />
                <span asp-validation-for="Input.Role" class="text-danger"></span>*@
                                    @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "-Select a role-", new { @class = "form-control" })
                                </label>
                            }

                            <label>
                                <input asp-for="Input.Password" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </label>

                            <label>
                                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </label>

                            @if (User.IsInRole(SD.Role_Supervisor.ToString()))
                            {
                                <div class="form-group">
                                    <label asp-for="Input.Role"></label>

                                </div>
                            }
                            <br />
                            <button type="submit" class="nav-link btn btn-warning" style="color:white;"> Register</button>

                        </form>
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link btn btn-success"> Want to Login ?</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    
    @*<div class="form sign-in">
            <div class="card" style="width:100%">
                <div class="card-body">

                </div>
            </div>
        </div>*@
</body>
</html>
<script>
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    const btn = document.getElementById('logBTN');
    btn.style.visibility = 'hidden';

    const btnR = document.getElementById('regBTN');
    btnR.style.visibility = 'hidden';
</script>
