@model TasksApp.Models.Items

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubItem" class="control-label"></label>
                <input asp-for="SubItem" class="form-control" />
                <span asp-validation-for="SubItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checks" class="control-label"></label>
                <input asp-for="Checks" class="form-control" />
                <span asp-validation-for="Checks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine" class="control-label"></label>
                <input asp-for="Machine" class="form-control" />
                <span asp-validation-for="Machine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantNumber" class="control-label"></label>
                <input asp-for="PlantNumber" class="form-control" />
                <span asp-validation-for="PlantNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InOrder" /> @Html.DisplayNameFor(model => model.InOrder)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OutOfOrder" /> @Html.DisplayNameFor(model => model.OutOfOrder)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

