@model IEnumerable<TasksApp.Models.Main_Task>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />

<h1>Manage Tasks</h1>

<div class="form-group" style="padding-right:12px;">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" style="float:right;">
        <i class="fa fa-plus"></i> Create New
    </button>

</div>



<br />

<div class="card text-center" style="width: 100%;">
    <div class="card-title">
        <ul class="nav nav-pills mb-3" style="padding:10px" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-homes-tab" data-toggle="pill" href="#pills-homes" role="tab" aria-controls="pills-homes" aria-selected="true">Daily</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-profiles-tab" data-toggle="pill" href="#pills-profiles" role="tab" aria-controls="pills-profiles" aria-selected="false">Weekly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-contacts-tab" data-toggle="pill" href="#pills-contacts" role="tab" aria-controls="pills-contacts" aria-selected="false">Monthly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-quarts-tab" data-toggle="pill" href="#pills-quarts" role="tab" aria-controls="pills-quarts" aria-selected="true">Quarterly</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-bis-tab" data-toggle="pill" href="#pills-bis" role="tab" aria-controls="pills-bis" aria-selected="false">Bi-Anually</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-annuals-tab" data-toggle="pill" href="#pills-annuals" role="tab" aria-controls="pills-annuals" aria-selected="false">Anually</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-homes" role="tabpanel" aria-labelledby="pills-homes-tab">
                <table class="table" id="tbl" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-profiles" role="tabpanel" aria-labelledby="pills-profiles-tab">
                <table class="table" id="tbl2" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
                <table class="table" id="tbl3" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-quarts" role="tabpanel" aria-labelledby="pills-quarts-tab">
                <table class="table" id="tbl4" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-bis" role="tabpanel" aria-labelledby="pills-bis-tab">
                <table class="table" id="tbl5" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-annuals" role="tabpanel" aria-labelledby="pills-annuals-tab">
                <table class="table" id="tbl6" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>TaskCategory</th>
                            <th>DateCreated</th>
                            <th>UserEmail</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

<!-- Add Task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label style="float:left" class="control-label">Description</label>
                    <input id="Description" class="form-control" />

                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Task Category</label>
                    <select id="TaskType" class="form-control ">
                        <option>Active_D</option>
                        <option>Hardware</option>
                        <option>Networking</option>
                        <option>OS/Software</option>
                        <option>Security</option>
                    </select>
                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Schedule</label>
                    <select id="Schedule" class="form-control">
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Quarterly</option>
                        <option>Bi-Annually</option>
                        <option>Annually</option>
                    </select>
                </div>

                <div style="float: left;">
                    <div id="Days" style="display:none">
                        <input type="radio" id="Monday" name="fav_language" value="Monday">
                        <label for="Monday">Monday</label>
                        &nbsp;
                        <input type="radio" id="Tuesday" name="fav_language" value="Tuesday">
                        <label for="Tuesday">Tuesday</label>
                        &nbsp;
                        <input type="radio" id="Wednesday" name="fav_language" value="Wednesday">
                        <label for="Wednesday">Wednesday</label>
                        &nbsp;
                        <input type="radio" id="Thursday" name="fav_language" value="Thursday">
                        <label for="Thursday">Thursday</label>
                        &nbsp;
                        <input type="radio" id="Friday" name="fav_language" value="Friday">
                        <label for="Friday">Friday</label>
                        <br />
                        <input type="radio" id="Saturday" name="fav_language" value="Saturday">
                        <label for="Saturday">Saturday</label>
                        &nbsp;
                        <input type="radio" id="Sunday" name="fav_language" value="Sunday">
                        <label for="Sunday">Sunday</label>
                    </div>
                </div>

                <div id="Months" style="display:none">
                    <input type="radio" id="Beginning" name="fav" value="Beginning">
                    <label for="Beginning">Beginning Of Month</label>
                    &nbsp;
                    <input type="radio" id="End" name="fav" value="End">
                    <label for="End">End Of Month</label>
                </div>

                <div id="Quart" style="display:none">
                    <input type="radio" id="Beginning" name="quart" value="Beginning">
                    <label for="Beginning">Beginning Of Quarter</label>
                    &nbsp;
                    <input type="radio" id="End" name="quart" value="End">
                    <label for="End">End Of Quarter</label>
                </div>

                <div id="Bi_Annually" style="display:none">
                    <input type="radio" id="1st" name="bi" value="1st">
                    <label for="1st">1st</label>
                    &nbsp;
                    <input type="radio" id="2nd" name="bi" value="2nd">
                    <label for="2nd">2nd</label>
                </div>

                <div id="Annual" style="display:none">
                    <input type="radio" id="Beginning" name="ann" value="Beginning">
                    <label for="Beginning">Beginning Of Year</label>
                    &nbsp;
                    <input type="radio" id="Mid" name="ann" value="Mid">
                    <label for="Mid">Middle Of Year</label>
                    &nbsp;
                    <input type="radio" id="End" name="ann" value="End">
                    <label for="End">End Of Year</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="AddTask()" class="btn btn-info">Create</a>
            </div>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label style="float:left" class="control-label">Description</label>
                    <input id="DescriptionEdit" class="form-control" />

                </div>

                <div class="form-group">
                    <label style="float:left" class="control-label">Schedule</label>
                    <select id="ScheduleEdit" class="form-control">
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Quarterly</option>
                        <option>Bi-Annually</option>
                        <option>Annually</option>
                    </select>
                </div>

                <div id="Day" style="display:none">
                    <input type="radio" id="Monday" name="fav_language" value="Monday">
                    <label for="Monday">M</label>

                    <input type="radio" id="Tuesday" name="fav_language" value="Tuesday">
                    <label for="Tuesday">T</label>

                    <input type="radio" id="Wednesday" name="fav_language" value="Wednesday">
                    <label for="Wednesday">W</label>

                    <input type="radio" id="Thursday" name="fav_language" value="Thursday">
                    <label for="Thursday">T</label>

                    <input type="radio" id="Friday" name="fav_language" value="Friday">
                    <label for="Friday">F</label>

                    <input type="radio" id="Saturday" name="fav_language" value="Saturday">
                    <label for="Saturday">S</label>

                    <input type="radio" id="Sunday" name="fav_language" value="Sunday">
                    <label for="Sunday">S</label>
                </div>

                <div id="Month" style="display:none">
                    <input type="radio" id="Beginning" name="fav" value="Beginning">
                    <label for="Beginning">B</label>

                    <input type="radio" id="Mid-Month" name="fav" value="Mid-Month">
                    <label for="Mid-Month">M</label>

                    <input type="radio" id="End" name="fav" value="End">
                    <label for="End">E</label>
                </div>

                <div id="Quart" style="display:none">
                    <input type="radio" id="Beginning" name="quart" value="Beginning">
                    <label for="Beginning">B</label>

                    <input type="radio" id="End" name="quart" value="End">
                    <label for="End">E</label>
                </div>

                <div id="Bi_Annually" style="display:none">
                    <input type="radio" id="1st" name="bi" value="1st">
                    <label for="1st">1st</label>

                    <input type="radio" id="2nd" name="bi" value="2nd">
                    <label for="2nd">2nd</label>
                </div>

                <div id="Annual" style="display:none">
                    <input type="radio" id="Beginning" name="ann" value="Beginning">
                    <label for="Beginning">B</label>

                    <input type="radio" id="Mid" name="ann" value="Mid">
                    <label for="Mid">M</label>

                    <input type="radio" id="End" name="ann" value="End">
                    <label for="End">E</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="EditTask()" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/jquery/jquery.js"></script>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>

<script>

    loadTable();

    $("#Schedule").change(function () {
        var Schedule = $('#Schedule').val();
        if (Schedule == "Weekly") {
            document.getElementById("Days").style.display = "block";
        }
        else {
            document.getElementById("Days").style.display = "none";
        }
        var Day = document.querySelector('input[name="fav_language"]:checked');

    });

    $("#Schedule").change(function () {
        var Schedule = $('#Schedule').val();
        if (Schedule == "Monthly") {
            document.getElementById("Months").style.display = "block";
        }
        else {
            document.getElementById("Months").style.display = "none";
        }
        var Month = document.querySelector('input[name="fav"]:checked');

    });

    $("#Schedule").change(function () {
        var Schedule = $('#Schedule').val();
        if (Schedule == "Quarterly") {
            document.getElementById("Quart").style.display = "block";
        }
        else {
            document.getElementById("Quart").style.display = "none";
        }
        var Day = document.querySelector('input[name="quart"]:checked');

    });

    $("#Schedule").change(function () {
        var Schedule = $('#Schedule').val();
        if (Schedule == "Bi-Annually") {
            document.getElementById("Bi_Annually").style.display = "block";
        }
        else {
            document.getElementById("Bi_Annually").style.display = "none";
        }
        var Day = document.querySelector('input[name="bi"]:checked');

    });

    $("#Schedule").change(function () {
        var Schedule = $('#Schedule').val();
        if (Schedule == "Annually") {
            document.getElementById("Annual").style.display = "block";
        }
        else {
            document.getElementById("Annual").style.display = "none";
        }
        var Day = document.querySelector('input[name="ann"]:checked');

    });

    $("#ScheduleEdit").change(function () {
        var Schedule = $('#ScheduleEdit').val();
        if (Schedule == "Weekly") {
            document.getElementById("Days").style.display = "block";
        }
        else {
            document.getElementById("Days").style.display = "none";
        }
        var Day = document.querySelector('input[name="fav_language"]:checked');

    });

    $("#ScheduleEdit").change(function () {
        var Schedule = $('#ScheduleEdit').val();
        if (Schedule == "Monthly") {
            document.getElementById("Months").style.display = "block";
        }
        else {
            document.getElementById("Months").style.display = "none";
        }
        var Month = document.querySelector('input[name="fav"]:checked');

    });

    //$("#Category").change(function () {
    //    var Category = $('#Category').val();
    //    if (Category == "Tasks Category") {
    //        document.getElementById("Category").style.display = "block";
    //    }
    //    else {
    //        document.getElementById("Category").style.display = "none";
    //    }
    //    var Day = document.querySelector('input[name="cat"]:checked');

    //});

    function loadTable() {
        Table01 = $("#tbl").DataTable({
            "ajax": {
                "url": "/Main_Task/GetDaily",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });

        Table02 = $("#tbl2").DataTable({
            "ajax": {
                "url": "/Main_Task/GetWeekly",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });

        Table03 = $("#tbl3").DataTable({
            "ajax": {
                "url": "/Main_Task/GetMonthly",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });

        Table04 = $("#tbl4").DataTable({
            "ajax": {
                "url": "/Main_Task/GetQuarterly",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });

        Table05 = $("#tbl5").DataTable({
            "ajax": {
                "url": "/Main_Task/GetBi",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });

        Table06 = $("#tbl6").DataTable({
            "ajax": {
                "url": "/Main_Task/GetAnually",
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "description", "width": "60%" },
                { "data": "schedule", "width": "20%" },
                { "data": "taskCategory", "width": "30%" },
                {
                    "data": "dateCreated",
                    'render': function (jsonDate) {
                        if (jsonDate == "0001-01-01T00:00:00") {
                            return " ";
                        }
                        else {
                            var datestr = jsonDate.toString();
                            var date = new Date(datestr.substr(0, 10));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var time = datestr.substr(11)
                            var hr = time.substr(0, 2)
                            var min = time.substr(3, 2)
                            var sec = time.substr(6, 2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear() + "  " + hr + ":" + min + ":" + sec;
                        }
                    }, "width": "50%"
                },
                { "data": "userEmail", "width": "50%" },
                {
                    "data": {
                        id: "id"
                    },
                    "render": function (data) {
                        return `
                                        <div class="text-center">
                                                <a type="button" class="btn btn-warning" onclick="ShowEditModal(${data.id})">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick=Delete("/Main_Task/DeleteTask/${data.id}") class="btn btn-danger text-white" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Delete Task">
                                                                <i class="fas fa-trash-alt"></i>
                                                 </a>
                                        </div>
                                       `;
                    }, "width": "30%"
                },
            ]
        });
    }

    function AddTask() {

        var Desc = $('#Description').val();
        var Schedule = $('#Schedule').val();
        var Type = $('#TaskType').val();

        var Day = document.querySelector('input[name="fav_language"]:checked');

        if (Day == null) {
            Day = "";
        }
        else {
            Day = Day.value;
        }

        var Month = document.querySelector('input[name="fav"]:checked');

        if (Month == null) {
            Month = "";
        }
        else {
            Month = Month.value;
        }

        var Quarter = document.querySelector('input[name="quart"]:checked');

        if (Quarter == null) {
            Quarter = "";
        }
        else {
            Quarter = Quarter.value;
        }

        var Bi_Annual = document.querySelector('input[name="bi"]:checked');

        if (Bi_Annual == null) {
            Bi_Annual = "";
        }
        else {
            Bi_Annual = Bi_Annual.value;
        }

        var Annual = document.querySelector('input[name="ann"]:checked');

        if (Annual == null) {
            Annual = "";
        }
        else {
            Annual = Annual.value;
        }

        $.ajax({
            type: "POST",
            url: "/Main_Task/AddTask?Desc=" + Desc + "&Schedule=" + Schedule + "&Day=" + Day + "&Month=" + Month + "&CType=" + Type + "&Quarter=" + Quarter + "&Bi_Annually=" + Bi_Annual + "&Annual=" + Annual,
            success: function (data) {
                if (data.success) {

                    $("#exampleModal").modal("toggle")
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    swal(data.message, "", "success");
                    Table01.ajax.reload();
                    Table02.ajax.reload();
                    Table03.ajax.reload();
                    Table04.ajax.reload();
                    Table05.ajax.reload();
                    Table06.ajax.reload();
                }
                else {
                    swal(data.message, "", "error");
                    //toastr.error(data.message);
                }
            }
        });
    }

    function Delete(url) {
        swal({
            title: "Are you sure you want to Delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            Table01.ajax.reload();
                            Table02.ajax.reload();
                            Table03.ajax.reload();
                            Table04.ajax.reload();
                            Table05.ajax.reload();
                            Table06.ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }

    var editId = 0;

    function ShowEditModal(id) {
        $("#editModal").modal("toggle");
        $.ajax({
            type: "GET",
            url: "/Main_Task/GetTask?id=" + id,
            success: function (data) {
                document.getElementById("DescriptionEdit").value = data.data.description;
                document.getElementById("ScheduleEdit").value = data.data.schedule;
                editId = id;
            }
        });
    }

    function EditTask() {
        var Desc = $('#DescriptionEdit').val();
        var Schedule = $('#ScheduleEdit').val();
        $.ajax({
            type: "PUT",
            url: "/Main_Task/EditTask?Id=" + editId + "&Desc=" + Desc + "&Schedule=" + Schedule,
            success: function (data) {
                if (data.success) {
                    $("#editModal").modal("toggle")
                    swal(data.message, "", "success");
                    Table01.ajax.reload();
                    Table02.ajax.reload();
                    Table03.ajax.reload();
                    Table04.ajax.reload();
                    Table05.ajax.reload();
                    Table06.ajax.reload();
                }
                else {
                    toastr.error(data.message);
                }
            }
        });
    }
</script>